{% extends "base.html" %}

{% block content %}
<!-- <ul>
    {% for game in upcoming_games %}
        <li>{{ game.away_elo }} -- {{ game.home_elo }}</li>
    {% endfor %}
</ul> -->

<div>

<!-- <h1>Standings</h1> -->

<h2>Upcoming Games</h2>

<div class="bs-callout bs-callout-warning" id="callout-btn-group-ie8-border">
    <button type="button" class="btn btn-primary" id="last-games">Last</button>
    <button type="button" class="btn btn-primary" id="next-games">Next</button>
    <div id="upcoming-games-date"></div>
    <table class="table" id="upcoming-games">
        <tr>
            <th>Away</th>
            <th colspan="2">Pre-game Probabilities</th>
            <th>Home</th>
        </tr>
        {% for game in upcoming_games %}
        <tr>
            <td>{{ game.away_team }}</td>
            <td>{{ game.away_win_prob | percent }}</td>
            <td>{{ game.home_win_prob | percent }}</td>
            <td>{{ game.home_team }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<h2>Team Forecasts</h2>

<table class="table">
    <tr>
        <th>Team</th>
        <th>Conference</th>
        <th>Rating (1/5/15)</th>
        <th>Record</th>
        <th>Point Differental/Game</th>
        <th>Make Playoffs</th>
        <th>Top Seed</th>
        <th>Win Championship</th>
    </tr>
    {% for team in teams %}
    <tr>
        <td><img src="{{ team.logo_url }}" width="28" height="28"/> <a href="{{ url_for('main.team_page', team_symbol=team.symbol, year=year) }}">{{ team.symbol }}</a></td>
        <td>{{ team.conference }}</td>
        <td>{{ team.current_rating | int }} ({{ team.change_past_games(1) | int }}/{{ team.change_past_games(5) | int }}/{{ team.change_past_games(15) | int}})</td>
        <td>{{ team.wins }}-{{team.losses}}</td>
        <td>{{ point_differentials[team.symbol].points_differential | format_point_differential }}</td>
        <td>{{ latest_probabilities[team.symbol].playoff | percent }}</td>
        <td>{{ latest_probabilities[team.symbol].top_seed | percent }}</td>
        <td>{{ latest_probabilities[team.symbol].champion | percent }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}

{% block scripts %}
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script>
    $(document).ready(function() {
        fooboo(moment().format("YYYY-MM-DD"))
    })

    $( "#last-games" ).click(function() {
         fooboo(new_date(-1))
    });

    $( "#next-games" ).click(function() {
        fooboo(new_date(1))
    });

    var new_date = function(i) {
        var current_date = moment($('#upcoming-games-date').text())

        return current_date.add(i, 'days').format('YYYY-MM-DD')
    }


    var fooboo = function(ds) {
        $.ajax({
            url: "/api/games/" + ds,
            dataType: "HTML",
            error: function(msg){
                alert(msg.statusText);
                return msg;
            },
            success: function(s){
                var json = JSON.parse(s)
                var dt = moment(json['date'])
                var games = json['games']
                var html = `        <tr>
            <th>Away</th>
            <th colspan="2">Pre-game Probabilities</th>
            <th>Home</th>
        </tr>`;
                for (var i = 0; i < games.length; i++) {
                    game = games[i]
                    away_team = game['away_team']
                    home_team = game['home_team']
                    away_win_prob = (game['away_win_prob'] * 100).toFixed(0) + '%'
                    home_win_prob = (game['home_win_prob'] * 100).toFixed(0) + '%'
                    row = `
                    <tr>
                        <td>${away_team}</td>
                        <td>${away_win_prob}</td>
                        <td>${home_win_prob}</td>
                        <td>${home_team}</td>
                    </tr>
                    `

                    html += row
                }
                $("#upcoming-games").html(html);
                $("#upcoming-games-date").html(dt.format('YYYY-MM-DD'))
            }
        });
    }

</script>
{% endblock %}